:root {
  --base-font-size: 14px;
  --theme-color: #ff9200;
}

body {
  font-family: "Inter", sans-serif;
}

.sidebar ul li a {
  font-weight: 700;
  font-size: 16px;
}

.sidebar ul > li > a {
  font-weight: 400;
}

.sidebar ul li a:active {
  background-color: #e4e4e4;
  text-decoration: none;
  margin-left: -10px;
  padding-left: 10px;
}

.sidebar ul li a:hover {
  background-color: #fafafa;
  border-radius: 2px;
  text-decoration: none;
  text-decoration: none;
  margin-left: -10px;
  padding-left: 10px;
}

* > a:link {
  text-decoration: none;
}

a:hover > span {
  text-decoration: none;
}

.social-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-footer li {
  display: inline-block;
  padding: 40px 20px;
  margin: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #8a8a8a;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}
